<a href="https://colab.research.google.com/github/shweta-todgire/Data-Science-Codes/blob/main/DataWrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
dataframe = pd.DataFrame()

In [ ]:
from google.colab import files

uploaded = files.upload()
df = pd.read_csv('StudentsPerformance.csv')

# Show first two rows
print(df.head(2))

# Show last two rows
print(df.tail(2))

# Show dimensions
print("Dimensions: {}".format(df.shape))

# Show statistics
print(df.describe())

Saving StudentsPerformance.csv to StudentsPerformance (2).csv
   gender race/ethnicity parental level of education     lunch  \
0  female        group B           bachelor's degree  standard
1  female        group C                some college  standard

  test preparation course  math score  reading score  writing score
0                    none          72             72             74
1               completed          69             90             88
     gender race/ethnicity parental level of education         lunch  \
998  female        group D                some college      standard
999  female        group D                some college  free/reduced

    test preparation course  math score  reading score  writing score
998               completed          68             78             77
999                    none          77             86             86
Dimensions: (1000, 8)
       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [ ]:
# Select the first row
print(df.iloc[0])

# Select three rows
print(df.iloc[:3])

# All rows up to and including the fourth row
print(df.iloc[:4])

gender                                    female
race/ethnicity                           group B
parental level of education    bachelor's degree
lunch                                   standard
test preparation course                     none
math score                                    72
reading score                                 72
writing score                                 74
Name: 0, dtype: object
   gender race/ethnicity parental level of education     lunch  \
0  female        group B           bachelor's degree  standard
1  female        group C                some college  standard
2  female        group B             master's degree  standard

  test preparation course  math score  reading score  writing score
0                    none          72             72             74
1               completed          69             90             88
2                    none          90             95             93
   gender race/ethnicity parental level of education         lunch  \
0  female        group B           bachelor's degree      standard
1  female        group C                some college      standard
2  female        group B             master's degree      standard
3    male        group A          associate's degree  free/reduced

  test preparation course  math score  reading score  writing score
0                    none          72             72             74
1               completed          69             90             88
2                    none          90             95             93
3                    none          47             57             44

In [ ]:
df_selected = df[df['math score'] > 90].head(2)
print(df_selected)

df_multiple = df[(df['math score'] > 70) & (df['reading score'] > 80)].head(2)
print(df_multiple)

    gender race/ethnicity parental level of education     lunch  \
34    male        group E                some college  standard
104   male        group C                some college  standard

    test preparation course  math score  reading score  writing score
34                     none          97             87             82
104               completed          98             86             90
   gender race/ethnicity parental level of education     lunch  \
2  female        group B             master's degree  standard
5  female        group B          associate's degree  standard

  test preparation course  math score  reading score  writing score
2                    none          90             95             93
5                    none          71             83             78

In [ ]:
df['lunch'].replace("standard", "STD", inplace=True)
print(df.head(2))

df['lunch'].replace({"STD": "Standard", "free/reduced": "FR"}, inplace=True)
print(df.head(2))

df.replace("none", "None", inplace=True)
print(df.head(2))

   gender race/ethnicity parental level of education lunch  \
0  female        group B           bachelor's degree   STD
1  female        group C                some college   STD

  test preparation course  math score  reading score  writing score
0                    none          72             72             74
1               completed          69             90             88
   gender race/ethnicity parental level of education     lunch  \
0  female        group B           bachelor's degree  Standard
1  female        group C                some college  Standard

  test preparation course  math score  reading score  writing score
0                    none          72             72             74
1               completed          69             90             88
   gender race/ethnicity parental level of education     lunch  \
0  female        group B           bachelor's degree  Standard
1  female        group C                some college  Standard

  test preparation course  math score  reading score  writing score
0                    None          72             72             74
1               completed          69             90             88

/tmp/ipython-input-2173918197.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['lunch'].replace("standard", "STD", inplace=True)
/tmp/ipython-input-2173918197.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['lunch'].replace({"STD": "Standard", "free/reduced": "FR"}, inplace=True)

In [ ]:
df.rename(columns={'math score': 'Math Score'}, inplace=True)
df.rename(columns={'reading score': 'Reading Score'}, inplace=True)
print(df.head(2))

   gender race/ethnicity parental level of education     lunch  \
0  female        group B           bachelor's degree  Standard
1  female        group C                some college  Standard

  test preparation course  Math Score  Reading Score  writing score
0                    None          72             72             74
1               completed          69             90             88

In [ ]:
print("Maximum:", df['Math Score'].max())
print("Minimum:", df['Math Score'].min())
print("Mean:", df['Math Score'].mean())
print("Sum:", df['Math Score'].sum())
print("Count:", df['Math Score'].count())

# Dataframe Statistics
print(df.var(numeric_only=True))
print(df.std(numeric_only=True))
print(df.kurt(numeric_only=True))
print(df.skew(numeric_only=True))

Maximum: 100
Minimum: 0
Mean: 66.089
Sum: 66089
Count: 1000
Math Score       229.918998
Reading Score    213.165605
writing score    230.907992
dtype: float64
Math Score       15.163080
Reading Score    14.600192
writing score    15.195657
dtype: float64
Math Score       0.274964
Reading Score   -0.068265
writing score   -0.033365
dtype: float64
Math Score      -0.278935
Reading Score   -0.259105
writing score   -0.289444
dtype: float64

In [ ]:
print(df.groupby('lunch').count())

          gender  race/ethnicity  parental level of education  \
lunch
FR           355             355                          355
Standard     645             645                          645

          test preparation course  Math Score  Reading Score  writing score
lunch
FR                            355         355            355            355
Standard                      645         645            645            645

In [ ]:
print(df['Math Score'].unique())
print(df['Math Score'].value_counts())

[ 72  69  90  47  76  71  88  40  64  38  58  65  78  50  18  46  54  66
  44  74  73  67  70  62  63  56  97  81  75  57  55  53  59  82  77  33
  52   0  79  39  45  60  61  41  49  30  80  42  27  43  68  85  98  87
  51  99  84  91  83  89  22 100  96  94  48  35  34  86  92  37  28  24
  26  95  36  29  32  93  19  23   8]
Math Score
65    36
62    35
69    32
59    32
73    27
      ..
24     1
26     1
19     1
23     1
8      1
Name: count, Length: 81, dtype: int64

In [ ]:
print(df[df.isnull().any(axis=1)].head(2))

Empty DataFrame
Columns: [gender, race/ethnicity, parental level of education, lunch, test preparation course, Math Score, Reading Score, writing score]
Index: []

In [ ]:
df_dropped = df.drop('Math Score', axis=1)
print(df_dropped.head(2))

   gender race/ethnicity parental level of education     lunch  \
0  female        group B           bachelor's degree  Standard
1  female        group C                some college  Standard

  test preparation course  Reading Score  writing score
0                    None             72             74
1               completed             90             88

In [ ]:
df_filtered = df[df['Reading Score'] != 60]
print(df_filtered.head(2))

df_no_first = df.drop(df.index[0])
print(df_no_first.head(2))

   gender race/ethnicity parental level of education     lunch  \
0  female        group B           bachelor's degree  Standard
1  female        group C                some college  Standard

  test preparation course  Math Score  Reading Score  writing score
0                    None          72             72             74
1               completed          69             90             88
   gender race/ethnicity parental level of education     lunch  \
1  female        group C                some college  Standard
2  female        group B             master's degree  Standard

  test preparation course  Math Score  Reading Score  writing score
1               completed          69             90             88
2                    None          90             95             93

In [ ]:
print(df.groupby('lunch').mean(numeric_only=True))
print(df.groupby('lunch')['Reading Score'].count())

          Math Score  Reading Score  writing score
lunch
FR         58.921127      64.653521      63.022535
Standard   70.034109      71.654264      70.823256
lunch
FR          355
Standard    645
Name: Reading Score, dtype: int64

In [ ]:
for val in df['lunch'][:2]:
    print(val)

#  List Comprehension
vals_upper = [str(val).upper() for val in df['lunch'][:2]]
print(vals_upper)

Standard
Standard
['STANDARD', 'STANDARD']

In [ ]:
def stringify(x):
    return str(x)

df['lunch_str'] = df['lunch'].apply(stringify)
print(df[['lunch', 'lunch_str']].head(2))

      lunch lunch_str
0  Standard  Standard
1  Standard  Standard

In [ ]:
print(df.groupby('lunch').count())

          gender  race/ethnicity  parental level of education  \
lunch
FR           355             355                          355
Standard     645             645                          645

          test preparation course  Math Score  Reading Score  writing score  \
lunch
FR                            355         355            355            355
Standard                      645         645            645            645

          lunch_str
lunch
FR              355
Standard        645

In [ ]:
df2 = df.head(5)
df3 = df.tail(5)
df_combined = pd.concat([df2, df3])
print(df_combined)

     gender race/ethnicity parental level of education     lunch  \
0    female        group B           bachelor's degree  Standard
1    female        group C                some college  Standard
2    female        group B             master's degree  Standard
3      male        group A          associate's degree        FR
4      male        group C                some college  Standard
995  female        group E             master's degree  Standard
996    male        group C                 high school        FR
997  female        group C                 high school        FR
998  female        group D                some college  Standard
999  female        group D                some college        FR

    test preparation course  Math Score  Reading Score  writing score  \
0                      None          72             72             74
1                 completed          69             90             88
2                      None          90             95             93
3                      None          47             57             44
4                      None          76             78             75
995               completed          88             99             95
996                    None          62             55             55
997               completed          59             71             65
998               completed          68             78             77
999                    None          77             86             86

    lunch_str
0    Standard
1    Standard
2    Standard
3          FR
4    Standard
995  Standard
996        FR
997        FR
998  Standard
999        FR